@model Banking.Backup.SnapshotInfo

<div data-entity="backup" data-view="edit" data-id=@Model.Time.Ticks>  
    <form>    
        <h3>Edit backup</h3>  
        <div>Mark</div>
        <div>@Html.EditorFor(op => op.Mark)</div>
        <div class="buttons">
            <button data-action="cancel"><img src="../../Content/images/cancel.png"> Cancel</button>
            <button type="submit" data-action="save"><img src="../../Content/images/save.png"> Save</button>
            <button data-action="delete" data-entity="backup" data-create="false"><img src="../../Content/images/delete.png"> Delete</button>
            <button data-action="restoreBackup" data-create="false"><img src="../../Content/images/undo.png"> Restore</button>
        </div>
    </form>
</div>
