@charset "utf-8";


table.tableView thead tr .sortable {

	cursor: pointer;
}
table.tableView thead tr .sortable:after {
    content: "↑↓";
    position: absolute;
    float: right;
    margin-left: 10px;
}
table.tableView thead tr .headerSortUp:after {
	content: "↑";
}
table.tableView thead tr .headerSortDown:after {
	content: "↓";
}
table.tableView thead tr .headerSortDown, table.tableView thead tr .headerSortUp {
    color: #fff;
}
