@model IEnumerable<Banking.Domain.Operation>

@{
    ViewBag.Title = "AllOperations";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="tableView tablesorter" id="operations">

  <caption>
    <p>Deals</p>
    <div class="actionsMenu">
    
        <input type="button" value="Create new" data-action="create" data-entity="operation" class="createButton" id="createOperationButton"/>
        <input type="button" value="Delete selected" data-action="delete" data-entity="operation" class="deleteButton" id="deleteOperationButton" disabled/>
        

    </div>
  </caption>
  <thead>
    <tr id="headings">
        <th scope="col" class="checkCol">
            <input type="checkbox" id="selectAll" data-action="selectAll" data-entity="operation" data-view="view"/>
        </th>
        <th scope="col">Mark</th>
        <th scope="col">Money,$</th>
        <th scope="col">Description</th>
        <th scope="col">Start&nbsp;Date&nbsp;</th>
        <th scope="col">Participants</th>
    </tr>
  </thead>
  <tbody data-list="operation" data-view="view">
  @foreach (var op in Model)
  {
    @Html.Partial("ViewOperation", op)
  }
  </tbody>
</table>
