<div data-view="import">
    <div>Paste text here:</div>
    <form>
        <div>
            <textarea cols="120" rows="30" />
        </div>
        <div>
            <input type="submit" value="Import" data-action="saveImport" />
            <input type="button" value="Cancel" class="cancelButton" data-action="cancel" />
        </div>
    </form>
</div>