@model Banking.Domain.Operation

@using Banking.Web

<li class="operationTitle" data-entity="operation" data-view="operationTitle" data-id=@Model.ID>
    <div data-action="edit">
        @Model.GetTitle()
    </div>
</li>
