@model IEnumerable<Banking.Domain.Person>

@{
    ViewBag.Title = "AllPersons";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="tableView tablesorter" id="persons">

  <caption>
    <p>Persons</p>
    <p class="actionsMenu">
        <input type="button" value="Create" class="createButton" id="createPersonButton" data-action="create" data-entity="person"/>
        <input type="button" value="Delete selected" class="deleteButton" id="deletePersonButton" data-action="delete" data-entity="person" disabled/>
    </p>

  </caption>
<thead>
  <tr id="headings">
    <th scope="col" class="checkCol"><input type="checkbox" id="selectAll" data-action="selectAll" data-entity="person" data-view="view"/></th>
    <th scope="col">Name</th>
    <th scope="col">Balance,$</th>
    <th scope="col">Deals</th>
  </tr>
</thead>
<tbody data-list="person" data-view="view">
  @foreach (var man in Model)
  {
    @Html.Partial("ViewPerson", man)
  }
</tbody>
</table>