@using Banking.Domain;

@model Banking.Domain.Person


@{
    ViewBag.Title = "ViewHistory";
    Layout = "~/Views/Shared/_Layout.cshtml";
    // getting all operations in which current person participates
    var ops = Model.Operations.
        Where(op => op.Participants.
            Any(man => man.Name == Model.Name));
}

<h2>
@Model.Name : $@Model.GetBalance().ToString("F2");
</h2>


<table class="tableView tablesorter" id="history">
    <caption>
        <p>History</p>
        <p class="actionsMenu">
            <input type="button" value="Delete selected" class="deleteButton" id="deleteOperationButton" data-action="delete" data-entity="operation" disabled/>
        </p>
    </caption>
    <thead>
        <tr id="headings">
            <th scope="col" class="checkCol"><input type="checkbox" id="selectAll" data-action="selectAll" data-entity="operation" data-view="viewPersonal"/></th>
            <th scope="col">Date</th>
            <th scope="col">Part</th>
            <th scope="col">Total</th>
            <th scope="col">Mark</th>
            <th scope="col">Description</th>
            <th scope="col">Others</th>
        </tr>
    </thead>
    <tbody data-list="operation" data-view="viewPersonalOperation">
        @foreach (var op in ops)
        {
            @Html.Action("ViewPersonalOperation", "Operation", new { id=op.ID, ownerId=Model.ID });
        }
    </tbody>
</table>