@model Banking.Domain.Person
           
@using Banking.Web
    
<tr data-id=@Model.ID>
    <td><input type="checkbox" class="itemCheck" /></td>
    <td><div>@Html.ActionLink(Model.Name, "ViewHistory", new { name = Model.Name })</div></td>
    <td><div>@Math.Round(Model.GetBalance(), 2).ToString()</div></td>
    <td>
        <div class="personDeals">
            <ul>
                @foreach (var operation in Model.Operations)
                {
                    <li class="operationTitle" data-id=@operation.ID>@operation.GetTitle()</li>
                    if (Model.Operations.Last() != operation) { Write(","); } 
                }
            </ul>
        </div>
    </td>
</tr>

