@model IEnumerable<String>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Backups</title>
</head>
<body>
    <h1>All backups</h1>
    @Html.ActionLink("Home", "Redirect")
    @Html.ActionLink("Make backup", "MakeBackup")
    @Html.ActionLink("Get backup file", "GetBackupFile")
    @if (Model.Count() > 0)
    {
        <h3>Click to restore</h3>
        <ul>
        @foreach (string backupName in Model)
        {
            <li>
                @Html.ActionLink(backupName, "RestoreBackup", new { name = backupName })
            </li>
        }
        </ul>
    }
    else
    {
        <h3>No backups</h3>
    }
</body>
</html>
