@{
    ViewBag.Title = "EnterCode";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    $(document).ready(function () {
        $("menu").children().each(function () { $(this).remove(); });
        $("menu").append("<h3>For access enter code</h3>");
        $("#codeInput").focus();
        $("#enter_code_form").submit(function (e) {
            e.preventDefault();
            $("input").each(function () { $(this).attr("disabled", "disabled"); });

            $("#codeInput").addClass("loading");
            var query = { code: jQuery('#codeInput').prop('value') };
            jQuery.post('/Home/EnterCode', query, function (data) {
                if (data.Success == true) {
                    window.location = '/operations';
                } else {
                    
                    $("input").each(function () { $(this).removeAttr("disabled"); });
                    $("#codeInput").removeClass("loading");
                    $("#freeow").freeow("Error", "Invalid code!", { classes: ["smokey", "error"] });

                }
            }).error(function () { alert('For some strange(probably, magic?) reason, ajax reqest could not reach the server. Please, inform system administrator.'); })
        });
    });
</script>

<div id="enter_code">
    <div id="enter_code_inner">
        <h2>Letters / digits(dunno 'bout symbols) will be ok...</h2>
        <ul>
            <form id="enter_code_form">
                <li><input id="codeInput" type="password"/> </li>
                <li><input id="enter" type="submit" value="Enter" /></li>
            </form>
        </ul>
    </div>
</div>