@model IEnumerable<Banking.Domain.Person>

@{
    ViewBag.Title = "AllPersons";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">

    $(document).ready(function () {
        assignBehavior('Person');
    });

    function parseFields(target) {
        var fields = target.find('input');
        var query = {
            ID: Number(target.attr('data-id')),
            Name: fields[0].value
        }
        return query;
    }

</script>
<table class="tableView tablesorter" id="persons">

  <caption>
    <p>Persons</p>
    <p class="actionsMenu"><input type="button" value="Create" class="createButton" id="createPersonButton"/></p>
  </caption>
<thead>
  <tr id="headings">
    <th scope="col" class="checkCol"><input type="checkbox" id="selectAll" /></th>
    <th scope="col">Name</th>
    <th scope="col">Ballance,$</th>
  </tr>
</thead>
<tbody>
  @foreach (var man in Model)
  {
    @Html.Partial("ViewPerson", man)
  }
</tbody>
</table>


