@model Banking.Domain.Person

<tr data-id=@Model.ID>        
    <td>@Html.EditorFor(op => op.Name)</td>
    <td>@Model.GetBalance().ToString()</td>
    <td>
        <input type="button" value="Save" class="saveButton"/>
        <input type="button" value="Cancel" class="cancelButton"/>
    </td>
</tr> 