@model Banking.Domain.Person
    
<tr data-id=@Model.ID>
    <td>@Html.ActionLink(Model.Name, "ViewHistory", new { ID = Model.ID })</td>
    <td>@Math.Round(Model.GetBalance(), 2).ToString()</td>
    <td>
        <input type="button" value="Edit" class="editButton"/>
        <input type="button" value="Delete" class="deleteButton"/>
    </td>
</tr>

