@model IEnumerable<Banking.Domain.Operation>

@{
    ViewBag.Title = "AllOperations";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="tableView tablesorter" id="operations">

  <caption>
    <p>Deals</p>
    <div class="actionsMenu">
    
        <input type="button" value="Create new" data-action="create" data-entity="operation" id="createOperationButton"/>
        <input type="button" value="Delete selected" data-action="delete" data-entity="operation" id="deleteOperationButton" disabled/>
        <input type="button" value="Import" data-action="import" id="importOperationButton" />

    </div>
  </caption>
  <thead>
    <tr id="headings">
        <th scope="col" class="checkCol">
            <input type="checkbox" id="selectAll" data-action="selectAll" data-entity="operation" data-view="view"/>
        </th>
        <th scope="col" data-action="sort" data-sort-list="operation" data-sort-key="mark" data-sort-key-type="string">Mark</th>
        <th scope="col" data-action="sort" data-sort-list="operation" data-sort-key="amount" data-sort-key-type="number">Money,$</th>
        <th scope="col" data-action="sort" data-sort-list="operation" data-sort-key="description" data-sort-key-type="string">Description</th>
        <th scope="col" data-action="sort" data-sort-list="operation" data-sort-key="date" data-sort-key-type="number">Start&nbsp;Date&nbsp;</th>
        <th scope="col" data-action="sort" data-sort-list="operation" data-sort-key="participants" data-sort-key-type="number">Participants</th>
    </tr>
  </thead>
  <tbody data-list="operation" data-view="view">
  @foreach (var op in Model)
  {
    @Html.Partial("ViewOperation", op)
  }
  </tbody>
</table>
