@model Banking.Domain.Operation
         

<li class="operationTitle" data-entity="operation" data-view="viewTitle" data-id=@Model.ID>
    <span data-action="edit"  title="Edit operation «@Model.GetTitle()»">
        @Model.GetTitle()
    </span>
</li>
