@{
    ViewBag.Title = "EnterCode";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript" src="@Url.Content("~/Scripts/crypto-sha256.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/login.js")"></script>

<div id="enter_code">
    <div id="enter_code_inner">
        <h2>Please, enter code-that-no-one-but-you-should-know</h2>
        <form id="enter_code_form">
            <ul>            
                <li><input id="codeInput" type="password"/> </li>
                <li><button id="enter" type="submit">Enter</button></li>            
            </ul>
        </form>
    </div>
</div>