@charset "utf-8";
/* styles for jQuery plugin simple modal */

.simplemodal-overlay {
    background-color: Black;
}
.simplemodal-container
{
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 10px;
    padding: 20px;
    color: #ffd;
    border: 1px solid white;
}
.simplemodal-wrap {
}
.simplemodal-data {
}
.simplemodal-data div {
    margin: 10px;
}
.simplemodal-data .editOperationPersons {
    margin-left: 20px;
    border-left: 1px solid #ffd;
}
.simplemodal-close {
    width: 24px;
    height: 24px;
    position: absolute;
    top: -8px;
    left: -8px;
    background-image: url(../images/freeow/close.png);
    cursor: pointer;
    display:none;
}
.simplemodal-container button {
    width: 90px;
}
.simplemodal-container button img{
    float: left;
}
.simplemodal-container .buttons {
    border-top: 1px solid white;
    text-align: right;
}