@charset "utf-8";
/* styles for jQuery plugin simple modal */

.simplemodal-overlay {
    background-color: Black;
}
.simplemodal-container
{
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 10px;
    padding: 20px;
    color: #ffd;
}
.simplemodal-wrap {
}
.simplemodal-data {
}
.simplemodal-data div {
    margin: 10px;
}
.simplemodal-data .editOperationPersons {
    margin-left: 20px;
    border-left: 1px solid #ffd;
}
.simplemodal-data .editOperationButtons {
    margin-top: 10px;
    text-align: center;
}
.simplemodal-close {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 8px;
    left: 8px;
    background-image: url(../images/freeow/close.png);
    cursor: pointer;
}