@charset "utf-8";
/* styles for jQuery plugin table sorter */


table.tablesorter thead tr .header {
	/*background-image: url(../images/tablesorter/bg.gif);
	background-repeat: no-repeat;
	background-position: center right;*/
	cursor: pointer;
}
table.tablesorter thead tr .header:after {
    content: "↑↓";
    /*position: absolute;
    float: right;*/
    margin-left: 10px;
}
/* To do */
/*table.tablesorter thead tr .headerSortUp {
	background-image: url(../images/tablesorter/asc.gif);
}*/
table.tablesorter thead tr .headerSortUp:after {
	content: "↑";
}
/*table.tablesorter thead tr .headerSortDown {
	background-image: url(../images/tablesorter/desc.gif);
}*/
table.tablesorter thead tr .headerSortDown:after {
	content: "↓";
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
    color: #fff;
}
