@using Banking.Backup

@model IEnumerable<SnapshotInfo>

@{
    ViewBag.Title = "Backups";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="tableView" id="backups">

  <caption>
    <p>Deals</p>
    <div class="actionsMenu">
    
        <input type="button" value="Create new" data-action="create" data-entity="backup"/>
        <input type="button" value="Delete selected" data-action="delete" data-entity="backup" disabled/>

    </div>
  </caption>
  <thead>
    <tr id="headings">
        <th scope="col" class="checkCol">
            <input type="checkbox" id="selectAll" data-action="selectAll" data-entity="backup" data-view="view"/>
        </th>
        <th scope="col" data-action="sort" data-key="time">Time</th>
        <th scope="col" data-action="sort" data-key="mark">Mark</th>
        <th scope="col" data-action="sort" data-key="operations">Operations</th>
        <th scope="col" data-action="sort" data-key="persons">Persons</th>
    </tr>
  </thead>
  <tbody data-list="backup" data-sort-key="time" data-sort-order="descending" data-view="view">
  @foreach (var backup in Model)
  {
    @Html.Partial("ViewBackup", backup)
  }
  </tbody>
</table>
